@import 'navbar', 'card', 'login';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    display: grid;
    place-items: center;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.26);
    font-size: xx-large;
    padding: 2rem;
    margin-top: 5rem;
}

.text-container {
    display: grid;
    place-items: center;

    margin-top: 5rem;
    max-width: 80rem;

    h1 {
        margin-bottom: 1.5rem;
    }

    p {
        margin: .5rem;
        font-size: 17px;
    }
}

.content {
    display: grid;
    place-items: center;
    margin-top: 5rem;

    h1 {
        margin-bottom: 3.5rem;
    }
}
